<div class="text-center -mb-20 pt-10">
  <h1 class="text-4xl md:text-8xl font-bold mb-0">
    احجز بسهولة مع أفضل الدكاترة
  </h1>
  <p class="text-4xl mb-0 pt-6">
    استعرض افضل دكاترتنا وابحث عن التخصص واحجز موعدك في ثوان
  </p>
</div>
<div
  dir="ltr"
  class="relative flex min-h-screen flex-col justify-center overflow-hidden py-6 sm:py-2"
>
  <div
    class="absolute inset-0 bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
  ></div>

  <div class="pointer-events-none relative flex gap-10 overflow-hidden">
    <div
      class="animate-marquee flex min-w-full shrink-0 items-center justify-around gap-10"
    >
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/abdallah.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/ali.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/khald.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/mahmoud.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/sayed.jpg"
        alt=""
      />
    </div>
    <div
      aria-hidden="true"
      class="animate-marquee flex min-w-full shrink-0 items-center justify-around gap-10"
    >
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/abdallah.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/ali.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/khald.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/mahmoud.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/sayed.jpg"
        alt=""
      />
    </div>
  </div>

  <div class="pointer-events-none relative mt-10 flex gap-10 overflow-hidden">
    <div
      class="animate-marquee flex min-w-full shrink-0 items-center justify-around gap-10 [animation-direction:reverse]"
    >
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/abdallah.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/ali.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/khald.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/mahmoud.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/sayed.jpg"
        alt=""
      />
    </div>
    <div
      aria-hidden="true"
      class="animate-marquee flex min-w-full shrink-0 items-center justify-around gap-10 [animation-direction:reverse]"
    >
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/abdallah.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/ali.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/khald.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/mahmoud.jpg"
        alt=""
      />
      <img
        class="aspect-square max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
        src="assets/images/team/sayed.jpg"
        alt=""
      />
    </div>
  </div>
</div>
