<!-- Main Container -->
<div class="doctor-details-section container mx-auto px-4 pt-24 pb-10">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <!-- Doctor Info Section -->
    <div class="col-span-2 p-6 rounded-lg shadow space-y-6">
      <!-- Top Info -->
      <div>
        <!-- <img [src]="doctor?.profilePictureUrl" alt="Doctor" class="rounded-lg" /> -->
        <div class="relative w-full h-[400px] flex items-center justify-center">
          <img
            [src]="doctor?.profilePictureUrl"
            alt="doctor"
            class="absolute inset-0 w-full h-full object-cover blur-sm opacity-100"
          />

          <img
            [src]="doctor?.profilePictureUrl"
            alt="octor"
            class="relative z-10 w-48 h-48 object-contain -mt-12 rounded-xl"
          />
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-6 basic-info">
        <div class="flex-1">
          <div class="flex gap-4">
            <h2 class="text-xl font-bold text-gray-800 dark:text-white">
              د. {{doctor?.fullName}} - {{doctor?.specialization}}
            </h2>

            <h3 class="flex items-center gap-2 group relative cursor-pointer">
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-50"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z"
                />
              </svg>

              <p class="text-sm text-gray-600">{{ views }}</p>

              <span
                class="absolute left-0 top-full mt-1 hidden w-max rounded bg-black text-white text-xs px-2 py-1 group-hover:block z-10"
              >
                عدد المشاهدات للدكتور ده
              </span>
            </h3>
          </div>

          <div class="flex items-center text-yellow-500 space-x-1 mt-2 mb-2">
            <span>
              @for (star of getStars(doctor?.ratingValue); track $index) {
              <i class="{{star}}"></i>
              }
            </span>
            <span id="ratingvalue">{{doctor?.ratingValue | number: '1.0-1'}} / 5</span>
          </div>
          <a [href]="doctor?.location" *ngIf="doctor?.location" class="text-gray-600 dark:text-gray-300">
            <i class="fa-solid fa-location-dot"></i>
            &ThinSpace; {{doctor?.addresses?.[0]}}
          </a>
          <p class="text-sm text-gray-700 dark:text-gray-400 mt-4">
            {{doctor?.about}}.
          </p>
        </div>
      </div>
      <!-- Insurance Companies -->
      <div>
        <h3 class="font-semibold text-lg mb-2 text-gray-800 dark:text-white">
          شركات التأمين
        </h3>
        <div class="flex flex-wrap gap-2">
          <span
            class="bg-gray-100 dark:bg-gray-800 px-3 py-1 rounded text-gray-800 dark:text-gray-200"
            >التأمين الصحي المصري</span
          >
          <span
            class="bg-gray-100 dark:bg-gray-800 px-3 py-1 rounded text-gray-800 dark:text-gray-200"
            >نيو كير</span
          >
          <span
            class="bg-gray-100 dark:bg-gray-800 px-3 py-1 rounded text-gray-800 dark:text-gray-200"
            >كارد بلس</span
          >
        </div>
      </div>

      <!-- Clinic Features -->
      <div>
        <h3 class="font-semibold text-lg mb-2 text-gray-800 dark:text-white">
          مميزات العيادة
        </h3>
        <div class="flex gap-4 text-gray-600 dark:text-gray-300">
          <span>📺 شاشة انتظار</span>
          <span>🧑‍🔬 معقم</span>
          <span>❄️ تكييف</span>
        </div>
      </div>

      <!-- Gallery -->
      <div>
        <h3 class="font-semibold text-lg mb-2 text-gray-800 dark:text-white">
          صور العيادة
        </h3>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-3">
          <img src="assets/images/clinic.jpg" class="rounded-lg object-cover" />
          <img
            src="assets/images/clinic1.jpg"
            class="rounded-lg object-cover"
          />
          <img
            src="assets/images/clinic2.jpg"
            class="rounded-lg object-cover"
          />
          <img
            src="assets/images/clinic4.jpg"
            class="rounded-lg object-cover"
          />
        </div>
      </div>

      <!-- Reviews -->
      <div>
        <h3 class="font-semibold text-lg mb-2 text-gray-800 dark:text-white">
          التقييمات
        </h3>
        <div class="space-y-4">
          @for (rating of ratings; track $index) {
          <div class="bg-gray-100 dark:bg-gray-800 p-4 rounded">
            <p class="text-sm text-gray-700 dark:text-gray-300">
              {{rating.comment}}.
            </p>
            <div class="text-sm text-gray-600 dark:text-gray-400 mt-2">
              {{rating.patientName}} &nbsp;&nbsp; @for(star of
              getStars(rating.ratingValue); track $index) {
              <i class="{{star}}"></i>
              }
            </div>
          </div>
          }
        </div>
        @if(user){
        <app-rating-form
          (ratingSubmitted)="onRatingAdded($event)"
        ></app-rating-form>
        }
      </div>
    </div>

    <!-- Booking Section -->
    <div class="rounded-lg shadow book-section">
      <h2
        class="text-xl font-bold mb-4 text-center book-h2 text-gray-800 dark:text-white"
      >
        احجز كشفك
      </h2>
      <div class="p-6">
        <div class="text-sm text-gray-700 dark:text-gray-300 space-y-2">
          <div class="flex justify-between">
            <span>سعر الكشف:</span>
            <span class="font-bold text-green-600">{{doctor?.fees}} ج.م</span>
          </div>
          <div class="flex justify-between">
            <span>مدة الانتظار:</span>
            <span>{{doctor?.waitingTime}} دقيقة</span>
          </div>
          <div class="flex justify-between">
            <span>اتصال مباشر:</span>
            <span> سيظهر رقم الدكتور بعد اتمام الحجز في صفحة الحجوزات </span>
          </div>
        </div>
        <ng-container *ngIf="user; else notLoggedIn">
          <div>
            <div class="mt-6">
              <label
                class="block font-semibold mb-2 text-gray-800 dark:text-white"
                >اختر التاريخ:</label
              >
              <input
                type="date"
                [(ngModel)]="selectedDate"
                (change)="onDateChange()"
                [min]="minDate"
                class="w-full border rounded p-2 bg-white dark:bg-gray-800 text-gray-800 dark:text-white"
              />
            </div>

            <div class="mt-4">
              <label
                class="block font-semibold mb-2 text-gray-800 dark:text-white"
                >المواعيد المتاحة:</label
              >
              <div class="grid grid-cols-2 gap-4">
                @for (timeslot of availableTimeSlots; track $index) {
                <button
                  class="p-3 rounded-xl text-center font-medium border transition-all duration-300 cursor-pointer"
                  (click)="selectSlot(timeslot)"
                  [ngClass]="{
                'bg-gradient-to-r from-green-600 to-green-700 text-white border-none shadow-md scale-105':
                  selectedSlot === timeslot,
                'bg-gray-100 text-gray-800 hover:bg-gradient-to-r hover:from-green-500 hover:to-green-700 hover:text-white dark:bg-gray-800 dark:text-gray-200':
                  selectedSlot !== timeslot
              }"
                >
                  {{ formatArabicTime(timeslot.startTime) }}
                </button>
                }
              </div>
            </div>
            <button
              class="mt-8 w-full py-3 rounded-xl font-semibold text-white transition duration-300 bg-gradient-to-r from-green-500 to-green-700 disabled:from-gray-400 disabled:to-gray-500 disabled:cursor-not-allowed cursor-pointer flex items-center justify-center gap-2"
              [disabled]="!selectedSlot || isSubmitting"
              (click)="pay()"
            >
              <ng-container *ngIf="!isSubmitting; else loading">
                احجز الآن
              </ng-container>

              <ng-template #loading>
                <svg
                  class="w-6 h-6 animate-spin text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4v1m0 14v1m8-9h1M3 12H2m15.364 6.364l-.707.707M6.343 6.343l-.707.707m12.728 0l.707.707M6.343 17.657l.707.707"
                  />
                </svg>
                <span>يرجي الانتظار قليلا</span>
              </ng-template>
            </button>

            <div
              class="bg-white dark:bg-gray-950 p-6 rounded-2xl shadow-md flex items-start gap-4 border border-gray-200 dark:border-gray-700 mt-6"
            >
              <svg
                class="w-10 h-10 text-green-500 shrink-0"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6.75V4.5m0 2.25c-4.556 0-6.75 2.35-6.75 7.5S7.444 21 12 21s6.75-2.35 6.75-7.5S16.556 6.75 12 6.75zm0 0v4.5"
                />
              </svg>

              <div>
                <p
                  class="text-gray-800 dark:text-white text-base font-semibold mb-1"
                >
                  الدفع آمن ومشفّر
                </p>
                <p
                  class="text-gray-600 dark:text-gray-300 text-sm leading-relaxed"
                >
                  عند الضغط على
                  <span class="font-semibold text-green-600 dark:text-green-400"
                    >"احجز الآن"</span
                  >، سيتم تحويلك إلى بوابة الدفع لإتمام الدفع ثم بعدها يؤكد
                  الحجز بعد نجاح عملية الدفع. في رعاية نستخدم تقنيات حديثة لضمان
                  حماية بياناتك. كما أننا نتعامل مع شركات خارجية موثوقة لضمان
                  تجربة آمنة وسلسة. جميع المعاملات تمر عبر قنوات مشفرة ولا يتم
                  تخزين أي معلومات حساسة مثل بيانات البطاقة أو رمز التحقق في
                  قواعد بيانات رعاية. هدفنا في رعاية هو تقديم تجربة سلسة وآمنة
                  يمكنك الوثوق بها دائمًا.
                  <br />
                  تحياتنا فريق تطوير المدفوعات الالكترونية لـ رعاية . كوم
                </p>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #notLoggedIn>
          <div
            class="mt-10 p-8 rounded-2xl shadow-lg bg-gradient-to-r from-green-500 to-emerald-600 text-white text-center max-w-xl mx-auto"
          >
            <div class="flex flex-col items-center space-y-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-12 h-12 text-white"
              >
                <path
                  fill-rule="evenodd"
                  d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                  clip-rule="evenodd"
                />
              </svg>

              <p class="text-lg font-semibold">
                يجب تسجيل الدخول أولاً لعرض المواعيد وإتمام الحجز.
              </p>

              <a
                (click)="goToLogin()"
                class="inline-block px-6 py-2 cursor-pointer rounded-lg bg-white text-green-700 font-bold shadow hover:bg-gray-100 transition duration-300"
              >
                تسجيل الدخول
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
