<nav
  dir="rtl"
  class="bg-transparent fixed z-[100] w-full max-w-[1920px] bg-white/50 shadow-xl backdrop-blur duration-300 ease-in-out dark:bg-black/30"
>
  <div
    class="mx-auto flex flex-row h-[75px] w-full items-center justify-between px-4 py-4 text-[1rem] font-medium text-slate-900 dark:text-slate-300"
  >
    <div class="mt-2 text-xl font-extrabold text-green-600">رعاية | Re3aya</div>

    <ul class="hidden md:flex gap-6 text-[16px] font-medium flex-row">
      <li>
        <a
          [routerLink]="['/']"
          class="hover:text-green-600"
          routerLinkActive="text-green-700"
          >الرئيسية</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/all-doctors']"
          class="hover:text-green-600"
          routerLinkActive="text-green-700"
          >الأطباء</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/specializations']"
          class="hover:text-green-600"
          routerLinkActive="text-green-700"
          >التخصصات الطبية</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/appointment']"
          class="hover:text-green-600"
          routerLinkActive="text-green-700"
          >الحجوزات</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/services']"
          class="hover:text-green-600"
          routerLinkActive="text-green-700"
          >الخدمات</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/about']"
          class="hover:text-green-600"
          routerLinkActive="text-green-700"
          >من نحن</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/contact']"
          class="hover:text-green-600"
          routerLinkActive="text-green-700"
          >اتصل بنا</a
        >
      </li>
      <li *ngIf="user() as user">
        <a
          [routerLink]="getDashboardLink(user)"
          class="hover:text-green-600"
          routerLinkActive="text-green-700"
        >
          لوحة المعلومات
        </a>
      </li>
    </ul>

    <div class="flex items-center gap-2 flex-row-reverse">
      <div class="flex items-center gap-6" *ngIf="user() as user">
        <img
          [src]="user.photoUrl || 'https://ui-avatars.com/api/?name=' + user.userName"
          alt="User photo"
          class="w-10 h-10 rounded-full border border-white"
        />
        <div>
          <h2 class="text-sm font-medium text-gray-700 dark:text-white">
            {{ user.email }}
          </h2>
          <p class="text-xs mt-1 text-green-400">{{ user.roles.join(', ') }}</p>
        </div>

        <button
          (click)="logout()"
          class="flex items-center gap-1 text-sm text-red-700 hover:text-red-500 transition cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 11-4 0v-1m4-8V7a2 2 0 10-4 0v1"
            />
          </svg>
          خروج
        </button>
      </div>

      <div *ngIf="!user()" class="gap-4 flex">
        <a
          [routerLink]="['/auth/register']"
          class="relative rounded-full border border-neutral-200 px-4 py-2 text-[9px] md:text-sm font-medium text-black dark:border-white/[0.2] dark:text-white hover:text-green-600"
          routerLinkActive="text-green-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 inline-block ml-1"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z"
            />
          </svg>

          تسجيل
        </a>

        <a
          [routerLink]="['/auth/login']"
          class="relative rounded-full border border-neutral-200 px-4 py-2 text-[9px] md:text-sm font-medium text-black dark:border-white/[0.2] dark:text-white hover:text-green-600"
          routerLinkActive="text-green-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            strokeWidth="{1.5}"
            stroke="currentColor"
            class="h-5 w-5 inline-block ml-1"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
            />
          </svg>

          دخول
        </a>
      </div>

      <button
        type="button"
        class="text-black hover:bg-gray-200 dark:hover:bg-gray-700 dark:text-white rounded-full focus:outline-none focus:ring-0 text-sm p-2.5"
        (click)="toggleDarkMode()"
        title="تغيير الوضع"
      >
        <ng-container *ngIf="!darkMode(); else lightTheme">
          <svg class="w-5 h-5 fill-gray-500" viewBox="0 0 20 20">
            <path
              d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
            />
          </svg>
        </ng-container>
        <ng-template #lightTheme>
          <svg class="w-5 h-5 fill-white" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            />
          </svg>
        </ng-template>
      </button>
    </div>

    <button class="md:hidden" (click)="toggleMobMenu()">
      <svg
        class="w-6 h-6 text-black dark:text-white"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    *ngIf="isMobMenuOpen()"
    class="md:hidden px-4 pb-4 pt-2 text-sm text-gray-900 dark:text-gray-300 space-y-2 text-right"
  >
    <a
      [routerLink]="['/']"
      class="block hover:text-green-600"
      routerLinkActive="text-green-700"
      >الرئيسية</a
    >
    <a
      [routerLink]="['/doctors']"
      class="block hover:text-green-600"
      routerLinkActive="text-green-700"
      >الأطباء</a
    >
    <a
      [routerLink]="['/appointments']"
      class="block hover:text-green-600"
      routerLinkActive="text-green-700"
      >الحجوزات</a
    >
    <a
      [routerLink]="['/services']"
      class="block hover:text-green-600"
      routerLinkActive="text-green-700"
      >الخدمات</a
    >
    <a
      [routerLink]="['/about']"
      class="block hover:text-green-600"
      routerLinkActive="text-green-700"
      >من نحن</a
    >
    <a
      [routerLink]="['/contact']"
      class="block hover:text-green-600"
      routerLinkActive="text-green-700"
      >اتصل بنا</a
    >
    <a
      [routerLink]="['/help-center']"
      class="block hover:text-green-600"
      routerLinkActive="text-green-700"
      >مركز الدعم</a
    >
    <a
      [routerLink]="['/auth/login']"
      class="block hover:text-green-600"
      routerLinkActive="text-green-700"
    >
      الدخول الموحد</a
    >
  </div>
</nav>
