<aside
  class="fixed top-0 z-50 h-screen w-64 bg-white/25 dark:bg-black/25 border border-gray-400/50 dark:border-gray-700/50 shadow-lg backdrop-blur-md transition-transform duration-300 ease-in-out"
  [ngClass]="{'translate-x-full': !isSidebarOpen()}"
  dir="rtl"
>
  <div
    class="relative flex flex-col h-full p-6 space-y-6 text-sm text-black dark:text-white"
  >
    <!-- toggle Sidebar -->
    <button
      (click)="toggleSidebar()"
      class="absolute top-3 left-3 px-3 py-2 text-2xl cursor-pointer rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
    >
      ✕
    </button>

    <nav class="space-y-3 text-[15px] font-medium">
      <a
        class="mt-8 flex items-center gap-2 text-lg font-bold tracking-wide uppercase"
        [routerLink]="['/']"
        routerLinkActive="text-green-600 font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Re3aya | رعاية
      </a>

      <nav class="space-y-1 text-[15px] font-medium mt-4">
        <!-- doctor -->
        <ng-container *ngIf="dashboardType() === 'doctor'">
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/']"
            routerLinkActive="text-green-600 font-bold"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            الصفحة الرئيسة لرعاية
          </a>

          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/doctor']"
            routerLinkActive="text-green-600 font-bold"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            لوحة الدكتور
          </a>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/doctor/timeslots']"
            routerLinkActive="text-green-600 font-bold"
          >
            مواعيدي
          </a>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/doctor/patients']"
            routerLinkActive="text-green-600 font-bold"
          >
            حجوزات المرضى
          </a>

          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/doctor/timeslots']"
            routerLinkActive="text-green-600 font-bold"
          >
            فيديو كول للمرضي
          </a>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/doctor/timeslots']"
            routerLinkActive="text-green-600 font-bold"
          >
            الروشته الالكترونيه
          </a>

          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/doctor/profile']"
            routerLinkActive="text-green-600 font-bold"
          >
            ملفي الشخصي
          </a>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/doctor/profile']"
            routerLinkActive="text-green-600 font-bold"
          >
            المدفوعات الالكترونيه
          </a>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/doctor/profile']"
            routerLinkActive="text-green-600 font-bold"
          >
            مركز المساعدة
          </a>
        </ng-container>

        <!-- patient -->
        <ng-container *ngIf="dashboardType() === 'patient'">
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/']"
            routerLinkActive="text-green-600 font-bold"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            الصفحة الرئيسة لرعاية
          </a>

          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/patient']"
            routerLinkActive="text-green-600 font-bold"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            لوحة المريض
          </a>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/patient/my-appointments']"
            routerLinkActive="text-green-600 font-bold"
          >
            حجوزاتي
          </a>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/patient/my-payments']"
            routerLinkActive="text-green-600 font-bold"
          >
            مدفوعاتي
          </a>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/patient/profile']"
            routerLinkActive="text-green-600 font-bold"
          >
            الملف الشخصي
          </a>
          <!-- <a
            class="block px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition"
            [routerLink]="['/dashboard/patient/settings']"
            routerLinkActive="text-green-600 font-bold"
          >
            الإعدادات
          </a> -->
        </ng-container>
      </nav>

      <div class="flex-grow"></div>

      <div class="flex flex-col items-center gap-3 mt-6">
        <button
          type="button"
          class="block w-full text-center px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 transition bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 shadow-sm"
          (click)="toggleDarkMode()"
        >
          <ng-container *ngIf="!darkMode(); else lightTheme">
            <div class="flex items-center justify-center gap-2">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                ></path>
              </svg>
              <span class="text-sm font-medium">وضع ليلي</span>
            </div>
          </ng-container>
          <ng-template #lightTheme>
            <div class="flex items-center justify-center gap-2">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                ></path>
              </svg>
              <span class="text-sm font-medium">وضع لايت</span>
            </div>
          </ng-template>
        </button>

        <button
          (click)="logout()"
          class="block w-full text-center px-4 py-2 rounded hover:bg-red-200 dark:hover:bg-red-800 transition bg-red-100 dark:bg-red-900 text-red-700 dark:text-red-300 shadow-sm"
        >
          <div class="flex items-center justify-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 11-4 0v-1m4-8V7a2 2 0 10-4 0v1"
              />
            </svg>
            <span class="text-sm font-semibold">تسجيل خروج</span>
          </div>
        </button>
      </div>
    </nav>
  </div>
</aside>

<button
  *ngIf="!isSidebarOpen()"
  (click)="toggleSidebar()"
  class="fixed top-4 right-4 z-50 text-xl"
  aria-label="toggle Sidebar"
>
  <span class="dark:bg-green-600/50 bg-green-600 p-2 cursor-pointer rounded"
    >☰</span
  >
  <span class="hidden md:inline-block p-1"> رعاية | لوحة المعلومات </span>
</button>
