<div class="flex flex-col md:flex-row min-h-screen">
  <main class="flex-grow p-2 sm:p-4">
    <div class="container mx-auto p-2 sm:p-4" dir="rtl">
      <div
        class="bg-gradient-to-br from-[#0f2c1b] to-[#186429] dark:from-[#08210e]/80 dark:to-[#104b2d]/80 border border-[#2b945a] rounded-2xl p-4 shadow-2xl text-white"
      >
        <div class="flex flex-col gap-3 mb-4">
          <h3 class="text-2xl font-bold text-green-300">
            مرحباً بعودتك، {{ user.userName }}
          </h3>
          <h3 class="text-lg font-semibold text-green-400">
            سعدنا لرؤيتك مرة تانية
          </h3>
        </div>

        <div class="flex items-center gap-4" *ngIf="user">
          <img
            [src]="user.photoUrl || 'https://ui-avatars.com/api/?name=' + user.userName"
            alt="User photo"
            class="w-16 h-16 rounded-full shadow-lg"
          />
          <div>
            <h2 class="text-base font-semibold text-white">{{ user.email }}</h2>
            <p class="text-sm mt-1 text-green-300">{{ displayRoles() }}</p>
          </div>
        </div>

        <div class="mt-6 border-t border-green-700 pt-4">
          <p class="text-gray-300 leading-relaxed text-sm">
            <span class="font-medium text-green-300">آخر تسجيل دخول:</span>
            الساعة 3:44 مساءً بالتوقيت العالمي (UTC)
          </p>
        </div>
      </div>
      <br />
      <!-- book summary -->
      <div
        class="bg-white/90 dark:bg-black/40 rounded-xl p-6 md:p-8 shadow-xl backdrop-blur-md mb-8"
      >
        <h2
          class="text-2xl font-bold text-green-600 dark:text-white flex items-center mb-8"
        >
          <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M4 4h16v2H4V4zm0 4h16v2H4V8zm0 4h12v2H4v-2zm0 4h8v2H4v-2z"
            />
          </svg>
          ملخص حجوزاتي
        </h2>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
          <div
            class="rounded-2xl bg-gradient-to-br from-green-400 via-green-500 to-green-600 p-5 text-white shadow-md transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <div
              class="flex items-center justify-center w-14 h-14 rounded-full bg-white/20"
            >
              <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M4 4h16v2H4V4zm0 4h16v2H4V8zm0 4h12v2H4v-2zm0 4h8v2H4v-2z"
                />
              </svg>
            </div>
            <div class="mt-5">
              <p class="text-sm">حجوزات مؤكدة</p>
              <h4 class="text-2xl font-extrabold mt-1">{{ confirmedCount }}</h4>
            </div>
          </div>

          <div
            class="rounded-2xl bg-gradient-to-br from-blue-500 via-blue-600 to-blue-700 p-5 text-white shadow-md transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <div
              class="flex items-center justify-center w-14 h-14 rounded-full bg-white/20"
            >
              <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M9 12l2 2 4-4 1.41 1.41L11 16l-3.41-3.41L9 12zm3-10C6.48 2 2 6.48 2 12s4.48 10 10 10
            10-4.48 10-10S17.52 2 12 2z"
                />
              </svg>
            </div>
            <div class="mt-5">
              <p class="text-sm">حجوزات منتهية</p>
              <h4 class="text-2xl font-extrabold mt-1">{{ finishedCount }}</h4>
            </div>
          </div>

          <div
            class="rounded-2xl bg-gradient-to-br from-yellow-400 via-orange-500 to-amber-600 p-5 text-white shadow-md transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <div
              class="flex items-center justify-center w-14 h-14 rounded-full bg-white/20"
            >
              <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M12 8v4l3 3-1.41 1.41L11 13.83V8h1zm0-6C6.48 2 2 6.48 2 12s4.48 10 10 10
            10-4.48 10-10S17.52 2 12 2z"
                />
              </svg>
            </div>
            <div class="mt-5">
              <p class="text-sm">حجوزات عدم حضور</p>
              <h4 class="text-2xl font-extrabold mt-1">
                {{ nonAttendenceCount }}
              </h4>
            </div>
          </div>

          <div
            class="rounded-2xl bg-gradient-to-br from-red-400 via-pink-500 to-rose-600 p-5 text-white shadow-md transition-transform transform duration-300 hover:scale-105 hover:shadow-2xl"
          >
            <div
              class="flex items-center justify-center w-14 h-14 rounded-full bg-white/20"
            >
              <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M6.225 4.811l1.414-1.414L12 7.758l4.361-4.361 1.414 1.414L13.414 9.17l4.361 4.361-1.414 1.414L12 10.586l-4.361 4.361-1.414-1.414L10.586 9.17 6.225 4.811z"
                />
              </svg>
            </div>
            <div class="mt-5">
              <p class="text-sm">حجوزات ملغية</p>
              <h4 class="text-2xl font-extrabold mt-1">{{ cancelledCount }}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="p-3 sm:p-4">
        <h2
          class="text-2xl font-bold mb-6 text-green-600 dark:text-white text-right flex items-center justify-start gap-2"
        >
          <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M4 4h16v2H4V4zm0 4h16v2H4V8zm0 4h12v2H4v-2zm0 4h8v2H4v-2z"
            />
          </svg>
          رسوم بيانية عن حالة الحجوزات
        </h2>

        <div class="flex flex-col md:flex-row gap-4 w-full">
          <!-- pie chart -->
          <div class="flex-1 rounded-lg shadow p-2">
            <canvas id="statusChart" class="w-full h-96"></canvas>
          </div>

          <!-- bar chart -->
          <div class="flex-1 rounded-lg shadow p-2">
            <canvas id="statusBarChart" class="w-full h-96"></canvas>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <h2
            class="text-2xl font-bold mb-6 text-green-600 dark:text-white text-right flex items-center justify-end gap-2"
          >
            <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M4 4h16v2H4V4zm0 4h16v2H4V8zm0 4h12v2H4v-2zm0 4h8v2H4v-2z"
              />
            </svg>
            ملخص مواعيدي
          </h2>
        </div>

        <div
          *ngIf="appointments.length > 0"
          class="overflow-x-auto rounded-lg shadow"
        >
          <table
            class="min-w-full border border-gray-200 bg-white dark:bg-gray-900 dark:border-gray-700 text-right"
          >
            <thead class="bg-green-600 dark:bg-green-800 text-white text-sm">
              <tr>
                <th class="py-3 px-6">رقم الحجز</th>
                <th class="py-3 px-6">تاريخ الانشاء</th>
                <th class="py-3 px-6">موعد الحجز</th>
                <th class="py-3 px-6">وقت الحجز</th>
                <th class="py-3 px-6">دكتور</th>
                <th class="py-3 px-6">التخصص</th>
                <th class="py-3 px-6">حالة الحجز</th>
              </tr>
            </thead>
            <tbody class="text-gray-600 dark:text-gray-300 text-sm font-light">
              <tr
                *ngFor="let appt of appointments; let i = index"
                class="border-b border-gray-200 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800"
              >
                <td class="py-3 px-6">{{ appt.appointmentId }}</td>
                <td class="py-3 px-6">{{ appt.date | date: 'dd/MM/yyyy' }}</td>
                <td class="py-3 px-6">
                  {{ appt.startTime | date: 'yyyy-MM-dd' }}
                </td>
                <td class="py-3 px-6">
                  {{ appt.startTime | date: 'HH:mm' }} - {{ appt.endTime | date:
                  'HH:mm' }}
                </td>
                <td class="py-3 px-6">{{ appt.doctorName }}</td>
                <td class="py-3 px-6">{{ appt.specializationName }}</td>
                <td class="py-3 px-6">
                  <span
                    [ngClass]="{
      'bg-green-100 text-green-700 dark:bg-green-800 dark:text-green-200': appt.status === 'Confirmed',
      'bg-gray-200 text-gray-800 dark:bg-gray-700 dark:text-gray-200': appt.status === 'Finished',
      'bg-orange-100 text-orange-700 dark:bg-orange-800 dark:text-orange-200': appt.status === 'NonAttendence',
      'bg-pink-100 text-pink-700 dark:bg-pink-800 dark:text-pink-200': appt.status === 'Cancelled'
    }"
                    class="inline-flex items-center gap-1 py-1 px-3 rounded-full text-xs font-medium"
                  >
                    <svg
                      *ngIf="appt.status === 'Confirmed'"
                      class="w-4 h-4 fill-green-600 dark:fill-green-200"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-5l5-5-1.4-1.4L9 10.2 7.4 8.6 6 10l3 3z"
                      />
                    </svg>

                    <svg
                      *ngIf="appt.status === 'Finished'"
                      class="w-4 h-4 fill-gray-600 dark:fill-gray-300"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm-.75-12h1.5v5h-1.5V6zm0 6h1.5v1.5h-1.5V12z"
                      />
                    </svg>

                    <svg
                      *ngIf="appt.status === 'NonAttendence'"
                      class="w-4 h-4 fill-orange-600 dark:fill-orange-300"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3-11.4L11.4 7 10 8.4 8.6 7 7 8.6 8.4 10 7 11.4 8.6 13 10 11.6 11.4 13 13 11.4 11.6 10 13 8.6z"
                      />
                    </svg>

                    <svg
                      *ngIf="appt.status === 'Cancelled'"
                      class="w-4 h-4 fill-pink-600 dark:fill-pink-300"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3-11.4L11.4 7 10 8.4 8.6 7 7 8.6 8.4 10 7 11.4 8.6 13 10 11.6 11.4 13 13 11.4 11.6 10 13 8.6z"
                      />
                    </svg>

                    <ng-container [ngSwitch]="appt.status">
                      <span *ngSwitchCase="'Confirmed'">مؤكد</span>
                      <span *ngSwitchCase="'Finished'">منتهي</span>
                      <span *ngSwitchCase="'NonAttendence'">عدم حضور</span>
                      <span *ngSwitchCase="'Cancelled'">ملغي</span>
                      <span *ngSwitchDefault> - </span>
                    </ng-container>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <a
          routerLink="/dashboard/patient/my-appointments"
          class="text-sm text-green-500 hover:underline dark:text-green-400"
        >
          عرض جميع مواعيدي بالتفصيل
        </a>

        <div *ngIf="!loading && appointments.length === 0">
          <div
            class="flex flex-col items-center justify-center min-h-[400px] bg-white dark:bg-gray-800 rounded-xl shadow-md p-6"
          >
            <h2 class="text-2xl font-bold mb-4">حجوزاتي</h2>

            <img
              src="https://cdn-icons-png.flaticon.com/512/18669/18669653.png"
              alt="No Bookings"
              class="w-40 h-40 mb-6 opacity-80"
            />

            <p class="text-gray-500 text-lg text-center">
              لا يوجد أي حجوزات لك حالياً
            </p>

            <a
              href="/all-doctors"
              class="mt-6 px-6 py-2 bg-green-600 hover:bg-green-700 text-white rounded-full shadow transition-all duration-200"
            >
              احجز الآن
            </a>
          </div>
        </div>
      </div>

      <br />
      <br />
      <!-- payments -->
      <div class="p-6">
        <div class="flex items-center justify-between">
          <h2
            class="text-2xl font-bold mb-6 text-green-600 dark:text-white text-right flex items-center justify-end gap-2"
          >
            <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M4 4h16v2H4V4zm0 4h16v2H4V8zm0 4h12v2H4v-2zm0 4h8v2H4v-2z"
              />
            </svg>
            ملخص مدفوعاتي
          </h2>
        </div>

        <div
          *ngIf="payments.length > 0; else noPayments"
          class="overflow-x-auto"
        >
          <div
            class="rounded-lg overflow-hidden shadow-lg bg-white dark:bg-gray-900"
          >
            <table
              class="min-w-full border border-gray-300 dark:border-gray-700 divide-y divide-gray-300 dark:divide-gray-700 rounded-lg overflow-hidden"
            >
              <thead class="bg-green-600 dark:bg-green-800 text-white text-sm">
                <tr>
                  <th class="px-6 py-3 text-right">رقم الدفع</th>
                  <th class="px-6 py-3 text-right">المبلغ</th>
                  <th class="px-6 py-3 text-right">الحالة</th>
                  <th class="px-6 py-3 text-right">رقم مرجع العملية</th>
                  <th class="px-6 py-3 text-right">تاريخ ووقت انشاء العملية</th>
                </tr>
              </thead>

              <tbody
                class="text-gray-600 dark:text-gray-300 text-sm font-light"
              >
                <tr
                  *ngFor="let payment of payments"
                  class="border-b border-gray-300 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800"
                >
                  <td class="px-6 py-4">{{ payment.paymentId }}</td>
                  <td class="px-6 py-4">{{ payment.amount }} جنيه</td>
                  <td class="px-6 py-4">
                    <span
                      class="flex items-center gap-2 px-3 py-1.5 rounded-full text-sm w-fit"
                      [ngClass]="{
            'bg-green-100/50 text-green-700 dark:bg-green-200/20 dark:text-green-300 font-semibold': payment.status == 1,
            'bg-red-100/50 text-red-700 dark:bg-red-200/20 dark:text-red-300 font-semibold': payment.status == 2
          }"
                    >
                      <svg
                        *ngIf="payment.status == 1"
                        class="w-4 h-4 fill-green-600 dark:fill-green-300"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-5l5-5-1.4-1.4L9 10.2 7.4 8.6 6 10l3 3z"
                        />
                      </svg>

                      <svg
                        *ngIf="payment.status == 2"
                        class="w-4 h-4 fill-red-600 dark:fill-red-300"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zM7.5 7.5l5 5m0-5l-5 5"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                        />
                      </svg>

                      {{ payment.status == 1 ? 'ناجحة' : 'فشلت' }}
                    </span>
                  </td>
                  <td class="px-6 py-4">{{ payment.transactionId }}</td>
                  <td class="px-6 py-4">
                    {{ payment.createdAt | date: 'yyyy/MM/dd - h:mm a' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <ng-template #noPayments>
          <div
            class="flex flex-col items-center justify-center min-h-[400px] bg-white dark:bg-gray-800 rounded-lg shadow-md p-6"
          >
            <h2 class="text-2xl font-bold mb-4 dark:text-white">مدفوعاتي</h2>

            <img
              src="https://cdn3d.iconscout.com/3d/premium/thumb/debit-card-5296099-4431733.png"
              alt="No Bookings"
              class="w-40 h-40 mb-6 opacity-80"
            />

            <p class="text-gray-500 text-lg text-center dark:text-gray-300">
              لا يوجد أي مدفوعات لك حالياً
            </p>
          </div>
        </ng-template>
      </div>
      <div
        class="flex items-start gap-3 p-5 mb-6 rounded-xl border border-red-300 dark:border-red-600 bg-gradient-to-r from-red-50 via-red-100 to-red-50 dark:from-red-950 dark:via-red-900 dark:to-red-950 shadow-sm text-right"
      >
        <div class="flex-shrink-0">
          <svg
            class="w-7 h-7 text-red-600 dark:text-red-400"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v2m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>

        <div class="flex-1">
          <p class="text-red-800 dark:text-red-200 font-bold text-lg mb-1">
            تنبيه هام
          </p>
          <p class="text-sm text-red-700 dark:text-red-300 leading-relaxed">
            في حال رغبتك في تقديم طلب الاسترداد للمبالغ المدفوعه في
            <span class="font-semibold">رعاية</span> يمكنك ذلك عبر صفحة
            <span class="font-semibold underline">تفاصيل مدفوعاتي</span>.
            <br />
            ولا يمكنك تنفيذ عملية
            <span class="font-bold underline">الاسترداد</span>
            إلا بعد
            <span class="font-bold text-red-600 dark:text-red-400"
              >إلغاء حجزك</span
            >
            <br />
            وطبقا لسياسات الشركة وشروط الاستخدام في رعاية . كوم
          </p>

          <a
            routerLink="/dashboard/patient/my-payments"
            class="inline-block mt-3 px-5 py-2 text-sm font-semibold rounded-lg text-white bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:from-red-600 hover:to-red-800 dark:from-red-600 dark:via-red-700 dark:to-red-800 transition-all"
          >
            تقديم طلب الاسترداد
          </a>
        </div>
      </div>

      <a
        routerLink="/dashboard/patient/my-payments"
        class="text-sm text-green-500 hover:underline dark:text-green-400"
      >
        عرض جميع المدفوعات بالتفصيل
      </a>
      <br />
      <br />

      <br />
    </div>
  </main>
</div>
