<div
  class="min-h-screen bg-cover bg-center bg-no-repeat"
  style="
    background-image: url('https://static.vecteezy.com/system/resources/previews/029/771/915/non_2x/portrait-of-doctor-with-stethoscope-in-the-hospital-experienced-senior-medical-doctor-smiling-and-looking-at-camera-free-photo.jpeg');
  "
>
  <div
    class="bg-black/50 min-h-screen flex flex-col items-center justify-center px-4 py-12"
  >
    <h1
      class="md:text-5xl text-2xl font-black pt-[120px] text-center text-white mb-8"
    >
      رعاية، حيث تبدأ رحلتك نحو صحة أفضل
      <h2 class="pt-5">نجمع بين الخبرة الطبية والذكاء الاصطناعي من أجلك</h2>
    </h1>
    <div
      class="w-full max-w-5xl rounded-2xl shadow-2xl p-8 backdrop-blur-lg bg-black/10 text-white"
    >
      <!-- text header -->
      <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold">
          {{ activeTab === 'find' ? 'احجز دكتور' : activeTab === 'voice' ? 'ابدأ
          بالتحدث مع AI' : activeTab === 'hospital' ? 'احجز موعد في المستشفى' :
          'احجز زيارة منزلية مع ممرض / ممرضة' }}
        </h1>
      </div>

      <!-- tabs btns -->
      <div class="flex border-b border-gray-500 dark:border-gray-500 mb-6">
        <button
          class="py-2 px-4 font-medium border-b-4 transition cursor-pointer"
          [ngClass]="{
            'border-green-500 text-green-600  ': activeTab === 'find',
            'border-transparent text-gray-300    hover:text-green-500': activeTab !== 'find'
          }"
          (click)="setActiveTab('find')"
        >
          احجز دكتور
        </button>
        <button
          class="py-2 px-4 font-medium border-b-4 transition cursor-pointer"
          [ngClass]="{
            'border-green-500 text-green-600  ': activeTab === 'voice',
            'border-transparent text-gray-300  hover:text-green-500': activeTab !== 'voice'
          }"
          (click)="setActiveTab('voice')"
        >
          تحدث مع AI
          <span
            class="bg-green-500 text-[11px] text-white rounded-xl px-2.5 py-1"
            >جديد</span
          >
        </button>
        <button
          class="py-2 px-4 font-medium border-b-4 transition cursor-pointer"
          [ngClass]="{
            'border-green-500 text-green-600  ': activeTab === 'homeVisit',
            'border-transparent  text-gray-300   hover:text-green-500': activeTab !== 'homeVisit'
          }"
          (click)="setActiveTab('homeVisit')"
        >
          حجز زيارة منزلية
          <span class="bg-red-500 text-[11px] text-white rounded-xl px-2.5 py-1"
            >قريباً</span
          >
        </button>
        <button
          class="py-2 px-4 font-medium border-b-4 transition cursor-pointer"
          [ngClass]="{
            'border-green-500 text-green-600  ': activeTab === 'hospital',
            'border-transparent  text-gray-300   hover:text-green-500': activeTab !== 'hospital'
          }"
          (click)="setActiveTab('hospital')"
        >
          حجز المستشفيات
          <span
            class="bg-yellow-500 text-[11px] text-white rounded-xl px-2.5 py-1"
            >الخطة المستقبلية</span
          >
        </button>
      </div>

      <div class="min-h-[185px] transition-all">
        <div
          *ngIf="activeTab === 'find'"
          class="grid grid-cols-1 md:grid-cols-3 gap-6"
        >
          <div>
            <label
              for="specializationSelect"
              class="block mb-2 font-semibold text-zinc-100 font-cairo"
            >
              التخصصات
            </label>
            <select
              id="specializationSelect"
              name="specialization"
              [(ngModel)]="selectedSpecialization"
              (change)="applyFilters()"
              class="w-full px-4 py-3 border border-zinc-300 dark:border-zinc-700 rounded-lg bg-white dark:bg-zinc-800/75 text-zinc-900 dark:text-zinc-100 font-cairo focus:outline-none focus:ring-2 focus:ring-green-500 transition"
            >
              <option [ngValue]="0">الكل</option>
              <option
                *ngFor="let spec of specializations"
                [ngValue]="spec.specializationId"
              >
                {{ spec.name }}
              </option>
            </select>
          </div>

          <div>
            <label
              for="governmentSelect"
              class="block font-semibold mb-2 text-zinc-800 dark:text-zinc-100 font-cairo"
            >
              المحافظة
            </label>
            <select
              id="governmentSelect"
              name="government"
              [(ngModel)]="selectedGovernment"
              (change)="applyFilters()"
              class="w-full px-4 py-3 border border-zinc-300 dark:border-zinc-700 rounded-lg bg-white dark:bg-zinc-800/70 text-zinc-900 dark:text-zinc-100 font-care focus:outline-none focus:ring-2 focus:ring-green-500 transition"
            >
              <option [ngValue]="0">الكل</option>
              <option
                *ngFor="let gov of governments"
                [ngValue]="gov.governmentId"
              >
                {{ gov.name }}
              </option>
            </select>
          </div>
          <div class="relative">
            <label class="block font-semibold mb-2">او ابحث باسم الدكتور</label>

            <input
              type="text"
              [(ngModel)]="searchTermBtn"
              (input)="applyFilters()"
              placeholder="اكتب اسم الدكتور"
              class="w-full px-4 py-3 border border-zinc-300 dark:border-zinc-700 rounded-lg bg-white dark:bg-zinc-800/70 text-zinc-900 dark:text-zinc-100 font-care focus:outline-none focus:ring-2 focus:ring-green-500 transition"
            />

            <div
              *ngIf="filteredDoctors.length > 0"
              class="mt-2 flex flex-col gap-2 overflow-y-auto max-h-[150px] pr-1 p-1 absolute w-full z-10"
            >
              <a
                *ngFor="let doctor of filteredDoctors"
                [routerLink]="['/doctor-details', doctor.doctorId]"
                class="block p-3 rounded-lg shadow-sm bg-white dark:bg-zinc-800 text-zinc-900 dark:text-white hover:ring-2 hover:ring-green-500 transition cursor-pointer text-sm"
              >
                <h3 class="text-base font-semibold mb-0.5 truncate">
                  {{ doctor.fullName }}
                </h3>
                <p class="text-xs text-zinc-500 dark:text-zinc-400 truncate">
                  التخصص: {{ doctor.specialization }}
                </p>
              </a>
            </div>
          </div>

          <div class="flex items-end">
            <div class="flex items-end">
              <button
                (click)="searchDoctors()"
                class="bg-green-600 text-white px-6 py-3 w-full rounded-lg hover:bg-green-700 transition cursor-pointer"
              >
                ابحث عن دكتور
              </button>
            </div>
          </div>
        </div>

        <!-- voice tab -->
        <div *ngIf="activeTab === 'voice'" class="flex flex-col gap-4">
          <h1 class="text-center">
            اخبر ai عن حالتك الصحية وسنرشح لك دكتور مناسب في اقرب موعد
          </h1>
          <div class="flex flex-col items-center justify-center p-2">
            <div class="flex gap-4 w-1/2">
              <button
                [disabled]="isRecording || isUploading"
                (click)="startRecording()"
                class="bg-green-600 text-white px-6 py-3 w-full rounded-lg hover:bg-green-700 cursor-pointer disabled:opacity-50 transition flex items-center justify-center gap-2"
              >
                <svg
                  class="w-5 h-5 text-white"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 14a4 4 0 0 0 4-4V6a4 4 0 0 0-8 0v4a4 4 0 0 0 4 4zm5-4a5 5 0 0 1-10 0H5a7 7 0 0 0 14 0h-2zm-5 8a7 7 0 0 0 7-7h-2a5 5 0 0 1-10 0H5a7 7 0 0 0 7 7z"
                  />
                </svg>
                تحدث الآن
              </button>

              <button
                [disabled]="!isRecording"
                (click)="stopRecording()"
                class="bg-red-600 hover:bg-red-700 text-white px-6 py-3 w-full rounded-lg cursor-pointer disabled:opacity-50 transition flex items-center justify-center gap-2"
              >
                <svg
                  class="w-5 h-5 text-white"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect x="6" y="6" width="12" height="12" rx="2" />
                </svg>
                تم الانتهاء
              </button>
            </div>

            <div *ngIf="audioUrl" class="mt-3 text-center">
              <p class="mb-2 font-medium"></p>
              <audio
                [src]="audioUrl"
                controls
                class="w-full max-w-md mx-auto hidden"
              ></audio>

              <a
                [href]="audioUrl"
                download="recording.wav"
                class="mt-2 text-blue-600 hover:underline hidden"
              >
                ⬇️ Download WAV
              </a>
            </div>

            <div *ngIf="isUploading" class="mt-4 text-green-500">
              <div
                class="flex flex-col items-center text-center text-xl font-bold mt-10 space-y-4"
              >
                <div
                  class="flex items-center gap-4 opacity-0 h-0 overflow-hidden animate-show1"
                >
                  <div class="flex items-center justify-center w-12 h-12">
                    <svg
                      aria-hidden="true"
                      class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-green-600"
                      viewBox="0 0 100 101"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 
      0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 
      100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 
      50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 
      27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 
      27.9921 9.08144 50.5908Z"
                        fill="currentColor"
                      />
                      <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 
      97.0079 33.5539C95.2932 28.8227 92.871 24.3692 
      89.8167 20.348C85.8452 15.1192 80.8826 10.7238 
      75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 
      56.7698 1.05124C51.7666 0.367541 46.6976 
      0.446843 41.7345 1.27873C39.2613 1.69328 
      37.813 4.19778 38.4501 6.62326C39.0873 
      9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 
      9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 
      10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 
      17.9648 79.3347 21.5619 82.5849 25.841C84.9175 
      28.9121 86.7997 32.2913 88.1811 35.8758C89.083 
      38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill"
                      />
                    </svg>
                  </div>

                  <p>جاري المعالجة من قبل نموذج الذكاء الاصطناعي لرعاية</p>
                </div>

                <div
                  class="flex items-center gap-4 opacity-0 h-0 overflow-hidden animate-show2"
                >
                  <div class="flex items-center justify-center w-12 h-12">
                    <svg
                      aria-hidden="true"
                      class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-green-600"
                      viewBox="0 0 100 101"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 
      0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 
      100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 
      50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 
      27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 
      27.9921 9.08144 50.5908Z"
                        fill="currentColor"
                      />
                      <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 
      97.0079 33.5539C95.2932 28.8227 92.871 24.3692 
      89.8167 20.348C85.8452 15.1192 80.8826 10.7238 
      75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 
      56.7698 1.05124C51.7666 0.367541 46.6976 
      0.446843 41.7345 1.27873C39.2613 1.69328 
      37.813 4.19778 38.4501 6.62326C39.0873 
      9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 
      9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 
      10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 
      17.9648 79.3347 21.5619 82.5849 25.841C84.9175 
      28.9121 86.7997 32.2913 88.1811 35.8758C89.083 
      38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill"
                      />
                    </svg>
                  </div>

                  <p>اشياء جميلة قادمة</p>
                </div>

                <div
                  class="flex items-center gap-4 opacity-0 h-0 overflow-hidden animate-show3"
                >
                  <div class="flex items-center justify-center w-12 h-12">
                    <svg
                      aria-hidden="true"
                      class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-green-600"
                      viewBox="0 0 100 101"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 
      0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 
      100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 
      50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 
      27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 
      27.9921 9.08144 50.5908Z"
                        fill="currentColor"
                      />
                      <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 
      97.0079 33.5539C95.2932 28.8227 92.871 24.3692 
      89.8167 20.348C85.8452 15.1192 80.8826 10.7238 
      75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 
      56.7698 1.05124C51.7666 0.367541 46.6976 
      0.446843 41.7345 1.27873C39.2613 1.69328 
      37.813 4.19778 38.4501 6.62326C39.0873 
      9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 
      9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 
      10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 
      17.9648 79.3347 21.5619 82.5849 25.841C84.9175 
      28.9121 86.7997 32.2913 88.1811 35.8758C89.083 
      38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill"
                      />
                    </svg>
                  </div>

                  <p>شكرا لك علي وقتك .. تمت المعالجة من قبل نموذج ai رعاية</p>
                </div>

                <div
                  class="flex items-center gap-4 opacity-0 h-0 overflow-hidden animate-show4"
                >
                  <div class="flex items-center justify-center w-12 h-12">
                    <svg
                      aria-hidden="true"
                      class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-green-600"
                      viewBox="0 0 100 101"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 
      0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 
      100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 
      50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 
      27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 
      27.9921 9.08144 50.5908Z"
                        fill="currentColor"
                      />
                      <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 
      97.0079 33.5539C95.2932 28.8227 92.871 24.3692 
      89.8167 20.348C85.8452 15.1192 80.8826 10.7238 
      75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 
      56.7698 1.05124C51.7666 0.367541 46.6976 
      0.446843 41.7345 1.27873C39.2613 1.69328 
      37.813 4.19778 38.4501 6.62326C39.0873 
      9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 
      9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 
      10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 
      17.9648 79.3347 21.5619 82.5849 25.841C84.9175 
      28.9121 86.7997 32.2913 88.1811 35.8758C89.083 
      38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill"
                      />
                    </svg>
                  </div>

                  <p>جاري تحويلك الي صفحة النتائج</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- home visit tab -->
        <div
          *ngIf="activeTab === 'homeVisit'"
          class="grid grid-cols-1 md:grid-cols-3 gap-6"
        >
          <h1>عفوا .. حجز زيارة منزلية غير متاحة حاليا</h1>
        </div>
        <!-- hospital tab -->
        <div
          *ngIf="activeTab === 'hospital'"
          class="grid grid-cols-1 md:grid-cols-3 gap-6"
        >
          <h1>
            عفوا .. حجز المستشفيات والمراكز الطبية ضمن الخطة المستقبلية لرعاية .
            كوم
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
