<div
  class="min-h-screen bg-cover bg-center bg-no-repeat"
  style="
    background-image: url('https://static.vecteezy.com/system/resources/previews/029/771/915/non_2x/portrait-of-doctor-with-stethoscope-in-the-hospital-experienced-senior-medical-doctor-smiling-and-looking-at-camera-free-photo.jpeg');
  "
>
  <div
    class="bg-black/50 min-h-screen flex flex-col items-center justify-center px-4 py-12"
  >
    <h1
      class="md:text-5xl text-2xl font-black pt-[120px] text-center text-white mb-8"
    >
      رعاية، حيث تبدأ رحلتك نحو صحة أفضل
      <h2 class="pt-5">نجمع بين الخبرة الطبية والذكاء الاصطناعي من أجلك</h2>
    </h1>
    <div
      class="w-full max-w-5xl rounded-2xl shadow-2xl p-8 backdrop-blur-lg bg-black/10 text-white"
    >
      <!-- text header -->
      <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold">
          {{ activeTab === 'find' ? 'احجز دكتور' : activeTab === 'voice' ? 'ابدأ
          بالتحدث مع AI ' : 'احجز زيارة منزلية مع ممرض / ممرضة' }}
        </h1>
      </div>

      <!-- tabs btns -->
      <div class="flex border-b border-gray-300 dark:border-gray-600 mb-6">
        <button
          class="py-2 px-4 font-medium border-b-4 transition cursor-pointer"
          [ngClass]="{
            'border-green-500 text-green-600  ': activeTab === 'find',
            'border-transparent text-gray-300    hover:text-green-500': activeTab !== 'find'
          }"
          (click)="setActiveTab('find')"
        >
          احجز دكتور
        </button>
        <button
          class="py-2 px-4 font-medium border-b-4 transition cursor-pointer"
          [ngClass]="{
            'border-green-500 text-green-600  ': activeTab === 'voice',
            'border-transparent text-gray-300  hover:text-green-500': activeTab !== 'voice'
          }"
          (click)="setActiveTab('voice')"
        >
          تحدث مع AI
          <span
            class="bg-green-500 text-[11px] text-white rounded-xl px-2.5 py-1"
            >جديد</span
          >
        </button>
        <button
          class="py-2 px-4 font-medium border-b-4 transition cursor-pointer"
          [ngClass]="{
            'border-green-500 text-green-600  ': activeTab === 'homeVisit',
            'border-transparent  text-gray-300   hover:text-green-500': activeTab !== 'homeVisit'
          }"
          (click)="setActiveTab('homeVisit')"
        >
          حجز زيارة منزلية
          <span class="bg-red-500 text-[11px] text-white rounded-xl px-2.5 py-1"
            >قريباً</span
          >
        </button>
      </div>

      <div class="min-h-[160px] transition-all">
        <div
          *ngIf="activeTab === 'find'"
          class="grid grid-cols-1 md:grid-cols-3 gap-6"
        >
          <div>
            <label
              for="specializationSelect"
              class="block mb-2 font-semibold text-zinc-100 font-cairo"
            >
              التخصصات
            </label>
            <select
              id="specializationSelect"
              name="specialization"
              [(ngModel)]="selectedSpecialization"
              (change)="applyFilters()"
              class="w-full px-4 py-3 border border-zinc-300 dark:border-zinc-700 rounded-lg bg-white dark:bg-zinc-800/75 text-zinc-900 dark:text-zinc-100 font-cairo focus:outline-none focus:ring-2 focus:ring-green-500 transition"
            >
              <option [ngValue]="0">الكل</option>
              <option
                *ngFor="let spec of specializations"
                [ngValue]="spec.specializationId"
              >
                {{ spec.name }}
              </option>
            </select>
          </div>

          <div>
            <label
              for="governmentSelect"
              class="block font-semibold mb-2 text-zinc-800 dark:text-zinc-100 font-cairo"
            >
              المحافظة
            </label>
            <select
              id="governmentSelect"
              name="government"
              [(ngModel)]="selectedGovernment"
              (change)="applyFilters()"
              class="w-full px-4 py-3 border border-zinc-300 dark:border-zinc-700 rounded-lg bg-white dark:bg-zinc-800/70 text-zinc-900 dark:text-zinc-100 font-care focus:outline-none focus:ring-2 focus:ring-green-500 transition"
            >
              <option [ngValue]="0">الكل</option>
              <option
                *ngFor="let gov of governments"
                [ngValue]="gov.governmentId"
              >
                {{ gov.name }}
              </option>
            </select>
          </div>
          <div class="relative">
            <label class="block font-semibold mb-2">او ابحث باسم الدكتور</label>

            <input
              type="text"
              [(ngModel)]="searchTermBtn"
              (input)="applyFilters()"
              placeholder="اكتب اسم الدكتور"
              class="w-full px-4 py-3 border border-zinc-300 dark:border-zinc-700 rounded-lg bg-white dark:bg-zinc-800/70 text-zinc-900 dark:text-zinc-100 font-care focus:outline-none focus:ring-2 focus:ring-green-500 transition"
            />

            <div
              *ngIf="filteredDoctors.length > 0"
              class="mt-2 flex flex-col gap-2 overflow-y-auto max-h-[150px] pr-1 p-1 absolute w-full z-10"
            >
              <a
                *ngFor="let doctor of filteredDoctors"
                [routerLink]="['/doctor-details', doctor.doctorId]"
                class="block p-3 rounded-lg shadow-sm bg-white dark:bg-zinc-800 text-zinc-900 dark:text-white hover:ring-2 hover:ring-green-500 transition cursor-pointer text-sm"
              >
                <h3 class="text-base font-semibold mb-0.5 truncate">
                  {{ doctor.fullName }}
                </h3>
                <p class="text-xs text-zinc-500 dark:text-zinc-400 truncate">
                  التخصص: {{ doctor.specialization }}
                </p>
              </a>
            </div>
          </div>

          <div class="flex items-end">
            <div class="flex items-end">
              <button
                (click)="searchDoctors()"
                class="bg-green-600 text-white px-6 py-3 w-full rounded-lg hover:bg-green-700 transition cursor-pointer"
              >
                ابحث عن دكتور
              </button>
            </div>
          </div>
        </div>

        <!--   voice tab -->
        <div *ngIf="activeTab === 'voice'" class="flex flex-col gap-4">
          <h1>اخبر ai عن حالتك الصحية وسنرشح لك دكتور مناسب في اقرب موعد</h1>

          <div class="flex items-end w-1/4 pt-16">
            <button
              class="bg-green-600 text-white px-6 py-3 w-full rounded-lg hover:bg-green-700 transition cursor-pointer"
            >
              تحدث الان
            </button>
          </div>
        </div>
        <!-- home visit tab -->
        <div
          *ngIf="activeTab === 'homeVisit'"
          class="grid grid-cols-1 md:grid-cols-3 gap-6"
        >
          <h1>عفوا .. حجز زيارة منزلية غير متاحة حاليا</h1>
        </div>
      </div>
    </div>
  </div>
</div>
