@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "care";
  src: url("./assets/fonts/Medium.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "care", sans-serif;
}

@theme {
  --font-care: care, sans-serif;
}
