@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "care";
  src: url("./assets/fonts/Medium.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "care", sans-serif;
}

@theme {
  --color-primary: #40ad56;
  --color-secondary: #007438;
  --color-tertiary: #f0f0f0;
  --color-text: #333333;
  --color-text-secondary: #666666;
}
